{% load compress %}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    {#    {% compress css %}#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app-base.css' %}"/>
    {#    {% endcompress %}#}

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    <!-- Custom styles for this template -->
    {% block stylesheet %}    {% endblock %}
    {% block javascriptOne %}    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><strong>SEO Check</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/seocheck">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SEO</a>
            </li>
        </ul>

    </div>
</nav>

<main role="main" class="container pt-3">

    {% block body %}
    {% endblock %}

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% compress js %}
    <script src="{% static 'project.js' %}"></script>
    <script src="{% static 'js/app-base.js' %}"></script>
{% endcompress %}
{% block javascriptTwo %}    {% endblock %}

</body>
</html>
