{% extends "./base.html" %}
{% load static %}
{% block title %}SEO Checkup{% endblock %}
{% block stylesheet %}{% endblock %}
{% block body %}
    {% csrf_token %}
    <h1 class="mb-5">SEO Check Program Demo</h1>
    <h3>Performing operations
        <span id="status">{{ status }}</span>
    </h3>
    <table class="table table-bordered" id="results">
        <colgroup>
            <col width="200">
            <col>
        </colgroup>
        <tr id="task_css">
            <td class="left-cell"></td>
            <td class="right-cell"></td>
        </tr>
        <tr id="keyword_density">
            <td class="left-cell"></td>
            <td class="right-cell"></td>
        </tr>
        <tr id="sitemap">
            <td class="left-cell"></td>
            <td class="right-cell"></td>
        </tr>
    </table>
    <div id="dataDisplay"></div>
{% endblock %}

{% block javascriptTwo %}
    <script src="{% static "js/app-seo-results.js" %}"></script>
{% endblock %}
