{% extends "./base.html" %}

{% block title %}SEO Checkup{% endblock %}
{% block stylesheet %}
    <style>
        #dataDisplay {
            padding-top: 40px;
            font-weight: bold;
            font-size: 25px;
        }

        .left-cell {
            font-size: 17px;
            font-weight: bold;
            color: #444;
        }

        .sk-folding-cube {
            margin: 20px auto;
            width: 40px;
            height: 40px;
            position: relative;
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }

        .sk-folding-cube .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        .sk-folding-cube .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        .sk-folding-cube .sk-cube2 {
            -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
        }

        .sk-folding-cube .sk-cube3 {
            -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
        }

        .sk-folding-cube .sk-cube4 {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
        }

        .sk-folding-cube .sk-cube2:before {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .sk-folding-cube .sk-cube3:before {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        .sk-folding-cube .sk-cube4:before {
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }

        @-webkit-keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0;
            }
            25%, 75% {
                -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
                opacity: 1;
            }
            90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
        }

        @keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0;
            }
            25%, 75% {
                -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
                opacity: 1;
            }
            90%, 100% {
                -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
        }


    </style>
{% endblock %}
{% block body %}
    <h1 class="mb-5">SEO Check Program Demo</h1>
    <h3>Performing operations
        <span id="status">{{ status }}</span>
    </h3>
    <table class="table table-bordered" id="results">
        <colgroup>
            <col width="200">
            <col>
        </colgroup>
        <tr id="task_css">
            <td class="left-cell"></td>
            <td class="right-cell"></td>
        </tr>
        <tr id="keyword_density">
            <td class="left-cell"></td>
            <td class="right-cell"></td>
        </tr>
        <tr id="sitemap">
            <td class="left-cell"></td>
            <td class="right-cell"></td>
        </tr>
    </table>
    <div id="dataDisplay"></div>
{% endblock %}

{% block javascriptTwo %}
    {% csrf_token %}
    <script>
        {#var loadingBlock = "Loading...";#}
        var loadingBlock = "<div class='sk-folding-cube'>" +
            "<div class='sk-cube1 sk-cube'></div>" +
            "<div class='sk-cube2 sk-cube'></div>" +
            "<div class='sk-cube4 sk-cube'></div>" +
            "<div class='sk-cube3 sk-cube'></div>" +
            "</div>";
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        console.log("CSRF : " + csrftoken);
        $(function () {
            updateStatus();
            setInterval(updateStatus, 1500);
        });

        function updateStatus() {
            $.post("http://localhost:8000/seocheck/ajax/",
                {},
                function (data, status) {
                    console.log(data);
                    $('#dataDisplay').html(JSON.stringify(data));
                    fill_all(data);
                });
        }

        function fill_all(data) {
            fill_task_1_get_css_status("#task_css", data);
            fill_task_2_get_keyword_density("#keyword_density", data)
            fill_task_3_get_sitemap_list("#sitemap", data)
        }

        function fill_task_1_get_css_status(row, data) {
            $(row + " .left-cell").html("Inline CSS Test");
            if (data['result']['task_1_get_css_status']['bad'] === 0) {
                $(row + " .right-cell").html(loadingBlock);
            }
            else {
                $(row + " .right-cell").html(data['result']['task_1_get_css_status']['bad'])
            }
        }

        function fill_task_2_get_keyword_density(row, data) {
            $(row + " .left-cell").html("Most Common Keywords Test");

            var renderedList = "";
            wordList = data['result']['task_2_get_keyword_density'];
            for (var i = 0; i < wordList.length; i++) {
                renderedList += "<li>" + wordList[i][0] + " - " + wordList[i][1] + "</li>"
            }
            $(row + " .right-cell").html("<ol>" + renderedList + "</ol>")
        }

        function fill_task_3_get_sitemap_list(row, data) {
            $(row + " .left-cell").html("Sitemap Test");

            var renderedList = "";
            sitemapList = data['result']['task_3_get_sitemap_list'];
            for (var i = 0; i < sitemapList.length; i++) {
                renderedList += "<li>" + sitemapList[i] + "</li>"
            }
            $(row + " .right-cell").html("<ol>" + renderedList + "</ol>")
        }
    </script>

{% endblock %}
